<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
        Add a nuget.config file in the root of your project repository.
        This is considered a best practice as it promotes repeatability and ensures that different users have the same NuGet configuration.
        You may need to configure clear elements to ensure no user or machine specific configuration is applied
        https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file#example-config-file
    -->

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <!--
            A Boolean indicating whether NuGet can perform automatic restore.
            You can also set the EnableNuGetPackageRestore environment variable with a value of True instead of setting this key in the config file.
        -->
        <add key="enabled" value="False" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

    <!--
        Used to specify the default Sources for list, install and update.
        See: nuget.exe help list
        See: nuget.exe help install
        See: nuget.exe help update
    -->
    <packageSources>
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <!-- Used to store credentials -->
    <packageSourceCredentials />

    <!-- Used to disable package sources  -->
    <disabledPackageSources />
    
</configuration>