# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

[*.cs]
# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = silent

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = silent
